@import url("platform:/plugin/aero.minova.rcp.css/css/colors.css");
@import url("platform:/plugin/aero.minova.rcp.css/css/margin.css");
@import url("platform:/plugin/aero.minova.rcp.css/css/common.css");
@import url("platform:/plugin/aero.minova.rcp.css/css/common/nattable.css");

Label, LookupTwistie {
	font-size: 6px;
}

Widget, CTabItem, LookupControl, Text, ToolBar, ToolTip, Label, Button, MinovaSection, LookupText {
	font-size: 8px;
}

MinovaSection {
	table-spacing: 14px;
	section-spacing: 6px;
	label-margin-top: 3px;
	description-margin-top: 3px;
	description-margin-left: 2px;
	multiline-margin-right: 0px;
	multiline-margin-bottom: -8px;
	unit-label-margin-left: 13px;
	checkbox-margin-top: 2px;
	row-height: 21px;
	date-time-width: 88px;
	date-width: 57px;
	time-width: 40px;
	number-width: 70px;
	text-width: 96px;
}

NatTable {
	font-size: 8;
	padding: 2;
	/*row-height: 19;*/
}

NatTable > .BODY, .BODY:select, .COLUMN_HEADER, .COLUMN_HEADER:select,
	.selectionAnchor:select, .SummaryRow,
	.TREE_EXPANDED, .TREE_EXPANDED:select,
	.TREE_COLLAPSED, .TREE_COLLAPSED:select,
	.GROUP_BY_OBJECT, .GROUP_BY_OBJECT:select {
	font-size: 8;
	padding: 2;
	/*row-height: 19;*/
}