MinovaSection {
	table-spacing: 25px;
	section-spacing: 10px;
	label-margin-top: 7px;
	description-margin-top:7px;
	multiline-margin-right: 16px;
	multiline-margin-bottom: -8px;
	unit-label-margin-left: 21px;
	checkbox-margin-top: 5px;
	row-height: 34px;
	date-time-width: 112px;
	date-width: 72px;
	time-width: 40px;
	number-width: 80px;
	text-width: 123px;
}