MinovaSection {
	table-spacing: 7px;
	section-spacing: 5px;
	label-margin-top: 4px;
	description-margin-top: 0px;
	multiline-margin-right: 2px;
	multiline-margin-bottom: -4px;
	unit-label-margin-left: 3px;
	checkbox-margin-top: 3px;
	row-height: 28px;
	date-time-width: 112px;
	date-width: 72px;
	time-width: 40px;
	number-width: 86px;
	text-width: 123px;
}