MinovaSection {
	table-spacing: 14px;
	section-spacing: 9px;
	label-margin-top: 7px;
	description-margin-top: 4px;
	multiline-margin-right: 3px;
	multiline-margin-bottom: -12px;
	unit-label-margin-left: 6px;
	checkbox-margin-top: 18px;
	row-height: 56px;
	date-time-width: 234px;
	date-width: 154px;
	time-width: 92px;
	number-width: 172px;
	text-width: 246px;
}