MinovaSection {
	table-spacing: 10px;
	section-spacing: 6px;
	label-margin-top: 6px;
	description-margin-top: 4px;
	multiline-margin-right: 3px;
	multiline-margin-bottom: -5px;
	unit-label-margin-left: 4px;
	checkbox-margin-top: 10px;
	row-height: 42px;
	date-time-width: 164px;
	date-width: 108px;
	time-width: 64px;
	number-width: 120px;
	text-width: 172px;
}