<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="RCP Produkt">
         <property
               name="lifeCycleURI"
               value="bundleclass://aero.minova.rcp.workspace/aero.minova.rcp.workspace.LifeCycle">
         </property>
         <property
               name="appName"
               value="RCP Produkt">
         </property>
         <property
               name="cssTheme"
               value="aero.minova.rcp.defaulttheme">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://aero.minova.rcp.translate/aero.minova.rcp.translate.lifecycle.Manager">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="true"
            class="aero.minova.rcp.rcp.processor.MenuProcessor">
         <element
               id="org.eclipse.ui.main.menu">
         </element>
      </processor>
   </extension>
</plugin>
