<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="FreeTables">
         <property
               name="lifeCycleURI"
               value="bundleclass://aero.minova.rcp.workspace/aero.minova.rcp.workspace.LifeCycle">
         </property>
         <property
               name="appName"
               value="FreeTables">
         </property>
         <property
               name="cssTheme"
               value="aero.minova.rcp.defaulttheme">
         </property>
      </product>
   </extension>
   <extension id="second"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
      <processor
            apply="always"
            beforefragment="false"
            class="aero.minova.rcp.rcp.processor.MenuProcessor">
      </processor>
   </extension>
   <extension
         id="aero.minova.rcp.rcp.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="buttonHandling.e4xmi"
            apply="always">
      </fragment>
   </extension>

</plugin>
