<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default-win32-m.css"
            id="aero.minova.rcp.defaulttheme-M"
            label="Light Windows Medium"
            os="win32">
      </theme>
       <theme
            basestylesheeturi="css/minova-debugcolors.css"
            id="aero.minova.rcp.debugtheme"
            label="Debug light">
      </theme>
       <theme
             basestylesheeturi="css/default-macosx.css"
             id="aero.minova.rcp.defaulttheme-M"
             label="Light Mac"
             os="macosx">
       </theme>
       <theme
             basestylesheeturi="css/default-linux.css"
             id="aero.minova.rcp.defaulttheme-M"
             label="Light Linux"
             os="linux">
       </theme>
       <theme
             basestylesheeturi="css/default-win32-l.css"
             id="aero.minova.rcp.defaulttheme-L"
             label="Light Size L">
       </theme>
       <theme
             basestylesheeturi="css/default-win32-s.css"
             id="aero.minova.rcp.defaulttheme-S"
             label="Light Size S">
       </theme>
       <theme
             basestylesheeturi="css/default-win32-xl.css"
             id="aero.minova.rcp.defaulttheme-XL"
             label="Light Size XL">
       </theme>
   </extension>

</plugin>
