<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default-s.css"
            id="aero.minova.rcp.defaulttheme-S"
            label="Light Size S">
      </theme>
      <theme
            basestylesheeturi="css/default-win32.css"
            id="aero.minova.rcp.defaulttheme"
            label="Light Size M Windows (Default)"
            os="win32">
      </theme>
       <theme
             basestylesheeturi="css/default-macosx.css"
             id="aero.minova.rcp.defaulttheme"
             label="Light Size M Mac (Default)"
             os="macosx">
       </theme>
       <theme
             basestylesheeturi="css/default-linux.css"
             id="aero.minova.rcp.defaulttheme"
             label="Light Size M Linux (Default)"
             os="linux">
       </theme>
       <theme
             basestylesheeturi="css/default-l.css"
             id="aero.minova.rcp.defaulttheme-L"
             label="Light Size L">
       </theme>
       <theme
             basestylesheeturi="css/default-xl.css"
             id="aero.minova.rcp.defaulttheme-XL"
             label="Light Size XL">
       </theme>
       <theme
             basestylesheeturi="css/minova-debugcolors.css"
             id="aero.minova.rcp.debugtheme"
             label="Debug">
       </theme>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="aero.minova.rcp.css.MinovaSectionElementProvider">
         <widget
               class="aero.minova.rcp.css.widgets.MinovaSection">
         </widget>
      </provider>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="aero.minova.rcp.css.MinovaSectionAdapter"
            composite="true"
            handler="aero.minova.rcp.css.MinovaSectionPropertyHandler">
         <property-name
               name="text-width">
         </property-name>
         <property-name
               name="date-width">
         </property-name>
         <property-name
               name="date-time-width">
         </property-name>
         <property-name
               name="number-width">
         </property-name>
         <property-name
               name="row-height">
         </property-name>
         <property-name
               name="section-spacing">
         </property-name>
         <property-name
               name="time-width">
         </property-name>
      </handler>
   </extension>

</plugin>
