<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="eclipse-2020-09">
<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2020-09"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/nattable/releases/1.6.0/repository/"/>
			<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.6.0.201909181823"/>
			<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.6.0.201909181823"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.e4.feature.feature.group" version="1.2.0.201909181823"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.e4.source.feature.feature.group" version="1.2.0.201909181823"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.6.0.201909181823"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source.feature.feature.group" version="1.6.0.201909181823"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="1.2.0.201909181823"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.source.feature.feature.group" version="1.2.0.201909181823"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="1.5.1.201909181823"/>
			<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source.feature.feature.group" version="1.5.1.201909181823"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository"/>
			<unit id="ca.odell.glazedlists" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20181128170323/repository"/>
			<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.9.2.v20180207-1730"/>
			<unit id="com.google.gson" version="2.2.4.v201311231704"/>
			<unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
			<unit id="com.google.gson.source" version="2.2.4.v201311231704"/>
			<unit id="com.google.gson.source" version="2.8.2.v20180104-1110"/>
			<unit id="com.sun.jersey" version="1.17.0.v201503170330"/>
			<unit id="com.sun.jersey.source" version="1.17.0.v201503170330"/>
			<unit id="org.glassfish.jersey.apache.connector" version="2.22.1.v20161103-1916"/>
			<unit id="org.glassfish.jersey.apache.connector.source" version="2.22.1.v20161103-1916"/>
			<unit id="org.glassfish.jersey.bundles.repackaged.jersey-guava" version="2.22.1.v20161103-1916"/>
			<unit id="org.glassfish.jersey.bundles.repackaged.jersey-guava.source" version="2.22.1.v20161103-1916"/>
			<unit id="org.glassfish.jersey.containers.servlet" version="2.22.1.v20161103-0227"/>
			<unit id="org.glassfish.jersey.containers.servlet.core" version="2.22.1.v20161103-0227"/>
			<unit id="org.glassfish.jersey.containers.servlet.core.source" version="2.22.1.v20161103-0227"/>
			<unit id="org.glassfish.jersey.containers.servlet.source" version="2.22.1.v20161103-0227"/>
			<unit id="org.glassfish.jersey.core.jersey-client" version="2.22.1.v20161103-1916"/>
			<unit id="org.glassfish.jersey.core.jersey-client.source" version="2.22.1.v20161103-1916"/>
			<unit id="org.glassfish.jersey.core.jersey-common" version="2.22.1.v20181004-1955"/>
			<unit id="org.glassfish.jersey.core.jersey-common.source" version="2.22.1.v20181004-1955"/>
			<unit id="org.glassfish.jersey.core.jersey-server" version="2.22.1.v20181004-1955"/>
			<unit id="org.glassfish.jersey.core.jersey-server.source" version="2.22.1.v20181004-1955"/>
			<unit id="org.glassfish.jersey.ext.entityfiltering" version="2.22.1.v20181004-1955"/>
			<unit id="org.glassfish.jersey.ext.entityfiltering.source" version="2.22.1.v20181004-1955"/>
			<unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="2.22.1.v20161117-2005"/>
			<unit id="org.glassfish.jersey.media.jersey-media-json-jackson.source" version="2.22.1.v20161117-2005"/>
		</location>
		
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/rt/eclipselink/updates/"/>
			<unit id="org.eclipse.persistence.sdk.feature.group" version="2.7.7.v20200504-69f2c2b80d"/>
		</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
		<unit id="org.eclipse.e4.tools.bundle.spy.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.e4.tools.context.spy.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.e4.tools.event.spy.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.e4.tools.model.spy.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.e4.tools.preference.spy.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/nebula/releases/2.4.2"/>
		<unit id="org.eclipse.nebula.cwt.feature.feature.group" version="1.1.0.202007241204"/>
		<unit id="org.eclipse.nebula.effects.stw.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.examples.feature.feature.group" version="1.0.4.202007241204"/>
		<unit id="org.eclipse.nebula.examples.release.feature.feature.group" version="1.1.0.202007241204"/>
		<unit id="org.eclipse.nebula.feature.feature.group" version="2.4.2.202007241204"/>
		<unit id="org.eclipse.nebula.visualization.feature.feature.group" version="2.1.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.badgedlabel.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.cdatetime.css.feature.feature.group" version="1.4.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="1.5.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.chips.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.compositetable.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.ctreecombo.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.floatingtext.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.fontawesome.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.gallery.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.ganttchart.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.geomap.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.grid.css.feature.feature.group" version="1.1.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.grid.feature.feature.group" version="1.1.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.led.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.nebulaslider.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.breadcrumb.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.calculator.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.checkboxgroup.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.columnbrowser.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.commons.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.dialog.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.duallist.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.header.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.heapmanager.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.horizontalspinner.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.launcher.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.logindialog.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.multichoice.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.notifier.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.panels.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.preferencewindow.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.promptsupport.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.propertytable.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.rangeslider.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.roundedtoolbar.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.starrating.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.switchbutton.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.textassist.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.tipoftheday.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.opal.titledseparator.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.oscilloscope.css.feature.feature.group" version="1.4.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.oscilloscope.feature.feature.group" version="1.4.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.paperclips.feature.feature.group" version="2.1.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.passwordrevealer.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.pgroup.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.progresscircle.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.pshelf.css.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.pshelf.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.richtext.feature.feature.group" version="1.3.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.splitbutton.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.stepbar.feature.feature.group" version="1.0.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.tablecombo" version="1.2.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.tablecombo.css.feature.feature.group" version="1.2.0.202007241204"/>
		<unit id="org.eclipse.nebula.widgets.xviewer.feature.feature.group" version="1.1.0.202007241204"/>

	</location>
	
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200831200620/repository"/>
		<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
		<unit id="org.mockito" version="2.23.0.v20200310-1642"/>
		<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
		<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
		<unit id="javax.activation" version="1.1.0.v201211130549"/>
	</location>
</locations>
</target>