Canvas, CTabItem, DetailComposite, ExpandableComposite, LayoutComposite,
	MinovaSection, NatTable, ScrolledComposite, Section, ToolBar  {
	background-color: COLOR-WIDGET-BACKGROUND;
	color: #404040;
}
Section, MinovaSection {
	background-color: COLOR-WIDGET-BACKGROUND;
	background-color-titlebar: COLOR-WIDGET-BACKGROUND;
	border-color-titlebar: black;
}
Section  {
	color: #404040;
	background-color: inherit;
}
Composite {
	background-color: COLOR-WIDGET-BACKGROUND;
}

CTabItem:selected {
	background-color: white;
}


Label, Text, Button, Button.Description, Label.Description, Section.Description  {
	color: #404040;
}


/*Verschiedene Feldfarben*/
Text.ReadOnly, LookupComposite.ReadOnly, TextAssist.ReadOnly {
	background-color: inherit;
}
Text.Standard, LookupComposite.Standard, TextAssist.Standard {
	background-color: white;
}
Text.ValueRequired, LookupComposite.ValueRequired, TextAssist.ValueRequired {
	background-color: #FCD267;
}
Text.InvalidValue, LookupComposite.InvalidValue, TextAssist.InvalidValue {
	background-color: red;
}

Label#SplashLabel {
	color: white;
}
Text#Console {
	background-color: black;
	color: white;
}