CTabItem, LayoutComposite, ExpandableComposite,
	ScrolledComposite, Canvas, DetailComposite, ToolBar,
	LookupControl, NatTable, Section  {
	background-color: COLOR-WIDGET-BACKGROUND;
}
Label, Button, Section  {
	color: #666666;
	background-color: inherit;
	/*
	background-color: #eeee88;
	*/
}
/*
Composite.TEST {
	background-color: #ee8888;
}
*/
Label.DescriptionLabel {
	color: black;
}
/* 
Composite, Label {
	background-color: #e8e8e8;
}
*/

Composite {
	background-color: COLOR-WIDGET-BACKGROUND;
}


Section {
	background-color: COLOR-WIDGET-BACKGROUND;
	background-color-titlebar: COLOR-WIDGET-BACKGROUND;
	/*background-color-gradient-titlebar: #e9e9e9;*/
	border-color-titlebar: black;
}
CTabItem:selected {
	background-color: white;
}

Text.Standard, Lookup.Standard, TextAssist.Standard {
	color: black;
	background-color: white;
}

Text.ValueRequired, Lookup.ValueRequired, TextAssist.ValueRequired {
	background-color: #FCD267;
}

Text.InvalidValue, Lookup.InvalidValue, TextAssist.InvalidValue {
	color: white;
	background-color: red;
}

Text.ReadOnly, Lookup.ReadOnly, TextAssist.ReadOnly {
	background-color: inherit;
}

Text#Console {
	color: white;
	background-color: black;
}
LookupControl Label {
	color: black;
}
/*

Label.UnitText {
	color: black;
}
*/
Label#SplashLabel {
	color: white;
	background-color: inherit;
}