CTabItem, LayoutComposite, ExpandableComposite,
	ScrolledComposite, Canvas, DetailComposite, ToolBar, NatTable, Section  {
	background-color: COLOR-WIDGET-BACKGROUND;
	color: #222222;
}
Label, Button, Section  {
	color: #222222;
	background-color: inherit;
}


/* Für Winows wäre es gut, die Farbe der Buttons auf weiß setzten zu können #768*/
Button[style~='SWT.PUSH'] {
	color: #222222;
	background-color: white;
}

Label.DescriptionLabel {
	color: black;
}


Composite {
	background-color: COLOR-WIDGET-BACKGROUND;
}


Section {
	background-color: COLOR-WIDGET-BACKGROUND;
	background-color-titlebar: COLOR-WIDGET-BACKGROUND;
	/*background-color-gradient-titlebar: #e9e9e9;*/
	border-color-titlebar: black;
}
CTabItem:selected {
	background-color: white;
}

Text.Standard, LookupComposite.Standard, TextAssist.Standard {
	background-color: white;
	color: black;
}

Text.ValueRequired, LookupComposite.ValueRequired, TextAssist.ValueRequired {
	background-color: #FCD267;
	color: black;
}

Text.InvalidValue, LookupComposite.InvalidValue, TextAssist.InvalidValue {
	background-color: red;
	color: black;
}

Text.ReadOnly, LookupComposite.ReadOnly, TextAssist.ReadOnly {
	background-color: inherit;
}

Text#Console {
	color: white;
	background-color: black;
}

/*

Label.UnitText {
	color: black;
}
*/
Label#SplashLabel {
	color: white;
	background-color: inherit;
}