.MPartStack {
	swt-maximize-visible: false;
	swt-minimize-visible: false;
}

Label#SplashLabel {
	/* beim Laden von CSS Splash nicht verändern! */
	font-size: 10px;
}

Text#Console {
	/* Schriftart für Konsole muss feste Breite haben */
	font-family: "courier new";
}

Label, Text, Button, LookupText, LookupTwistie {
	font-family: tahoma;
}