@import url("platform:/plugin/aero.minova.rcp.css/css/colors.css");

@import url("platform:/plugin/aero.minova.rcp.css/css/margin.css");

@import url("platform:/plugin/aero.minova.rcp.css/css/common.css");

@import
	url("platform:/plugin/aero.minova.rcp.css/css/common/nattable.css");

CTabFolder {
	swt-tab-height: 24px;
}

Widget, CTabItem, ToolBar, ToolTip, Label, Button, LookupTwistie, CCombo {
	font-size: 8px;
}

Text, Label.DescriptionLabel, LookupText, TextAssist, ImageHyperlink {
	font-size: 8px;
}

NatTable {
	font-size: 8;
	padding: 2;
	/*row-height: 19;*/
}

NatTable>.BODY, .BODY:select, .COLUMN_HEADER, .COLUMN_HEADER:select,
	.selectionAnchor:select, .SummaryRow, .ROW_HEADER, .TREE_EXPANDED,
	.TREE_EXPANDED:select, .TREE_COLLAPSED, .TREE_COLLAPSED:select,
	.GROUP_BY_OBJECT, .GROUP_BY_OBJECT:select {
	font-size: 8;
	padding: 2;
	/*row-height: 19;*/
}
