@charset "UTF-8";

Label {
	font: Verdana 8px;
	color: black;
}

Composite Label {
	color: black;
}

Text {
	font: Verdana 8px;
}
/* Identifies only those SWT Text elements
appearing within a Composite */
Composite Text {
	background-color: white;
	color: black;
}

SashForm {
	background-color: #c1d5ef;
}
/* background uses a gradient */
.MTrimBar {
	background-color: #e3efff #c1d5ef;
	color: white;
	font: Verdana 8px;
}

Shell {
	background-color: #e3efff #c1d5ef 60%;
}

.MPartStack, CTabFolder {
	/* Point to the CustomTabFolderRenderer implementation */
	swt-tab-renderer:
		url('bundleclass://aero.minova.rcp.css/aero.minova.rcp.css.renderer.CustomTabFolderRenderer');
	background-color: white;
}

.MPart {
	background-color: white;
}

CTabItem {
	background-color: white;
}

CTabItem:selected {
	color: rgb(0, 132, 180);
}