# This workflow will build the Eclipse RCP application with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: RCP build on Ubuntu

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: 11
        distribution: 'adopt'
    - run: sudo apt-get install xvfb
    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Build with Maven
      run: xvfb-run mvn clean verify -DskipTests=true --fae --file pom.xml -T4

#    - uses: actions/upload-artifact@v2
#      with:
#        name: minova-wfc-linux
#        path: /home/runner/work/aero.minova.rcp/aero.minova.rcp/releng/aero.minova.rcp.product/target/products/*linux*.zip
#    - uses: actions/upload-artifact@v2
#      with:
#        name: minova-wfc-mac
#        path: /home/runner/work/aero.minova.rcp/aero.minova.rcp/releng/aero.minova.rcp.product/target/products/*mac*.zip
#    - uses: actions/upload-artifact@v2
#      with:
#        name: minova-wfc-win
#        path: /home/runner/work/aero.minova.rcp/aero.minova.rcp/releng/aero.minova.rcp.product/target/products/*win*.zip
    
